<div>
    <button pButton type="button" label="{{ 'MENU.HOME' | translate }}" [routerLink]="['/home']" pTooltip="{{ 'MENU.HOME' | translate }}">
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </button>
    <button pButton type="button" label="{{ 'MENU.BOARD' | translate }}" [routerLink]="['/boards']" pTooltip="{{ 'MENU.BOARD' | translate }}">
        <i class="fa fa-dashboard fa-2x" aria-hidden="true"></i>
    </button>
    <button pButton type="button" label="{{ 'MENU.FIGHTER' | translate }}" [routerLink]="['/fighters']" pTooltip="{{ 'MENU.FIGHTER' | translate }}">
        <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
    </button>
    <button pButton type="button" label="{{ 'MENU.OCTAGON_GIRL' | translate }}" [routerLink]="['/octagonGirls']" pTooltip="{{ 'MENU.OCTAGON_GIRL' | translate }}">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    </button>
    <span class="example-spacer"></span>

    <button *ngIf="auth.authenticated()" pButton type="button" label="{{ 'MENU.LOGOUT' | translate }}" (click)="auth.logout()" pTooltip="{{ 'MENU.LOGOUT' | translate }}">
        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
    </button>

    <button *ngIf="!auth.authenticated()" pButton type="button" label="{{ 'MENU.LOGIN' | translate }}" (click)="auth.login()" pTooltip="{{ 'MENU.LOGIN' | translate }}">
        <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
    </button>

    <p-dropdown [style]="{'width':'150'}" [options]="languages" [(ngModel)]="selectedLanguage" (onChange)="onLanguagesChange($event)" filter="filter"></p-dropdown>

</div>