<p-growl [value]="msgs" sticky="sticky"></p-growl>

<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">

        <div class="ui-grid-col-4"></div>

        <div class="ui-grid-col-4">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <p-panel header="Board">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Title *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="title" placeholder="Required" />
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['title'].valid && form.controls['title'].dirty">
                                    <i class="fa fa-close"></i> Title is required
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Content *:
                            </div>
                            <div class="ui-grid-col-6">
                                <textarea pInputTextarea type="text" formControlName="content" placeholder="Required"></textarea>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['content'].valid && form.controls['content'].dirty">
                                    <i class="fa fa-close"></i> Content is required
                                </div>
                            </div>
                        </div>

                        <!--<div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Password *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)" />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['password'].valid&&form.controls['password'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="form.controls['password'].errors['required']">Password is required</span>
                        <span *ngIf="form.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                    </div>
                </div>
            </div>-->

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"></div>
                            <div class="ui-grid-col-6">
                                <button pButton type="submit" label="Submit" [disabled]="!form.valid"></button>
                            </div>
                            <div class="ui-grid-col-4">
                                <button class="ui-button-danger" pButton type="button" label="Delete" (click)="deleteBoard()" *ngIf="!isNew"></button>
                            </div>
                        </div>

                        <div style="text-align:center;margin-top:20px">
                            <p>Form : {{ form.value | json }}</p>
                            <p>Form Status : {{ form.status }}</p>
                        </div>
                    </div>
                </p-panel>
            </form>

        </div>

        <div class="ui-grid-col-4"></div>

    </div>
</div>